<div class="d-flex flex-wrap mb-4">
    <h1 class="flex-grow-1" i18n="@@user.edit.headline">Edit User</h1>
    <div>
        <a routerLink="/users" class="btn btn-secondary" i18n="@@user.edit.back">Back to list</a>
    </div>
</div>
<form [formGroup]="editForm" (ngSubmit)="handleSubmit()">
    <app-input-row [group]="editForm" field="id" rowType="number" i18n-label="@@user.id.label" label="Id" />
    <app-input-row [group]="editForm" field="username" i18n-label="@@user.username.label" label="Username" />
    <app-input-row [group]="editForm" field="password" rowType="password" i18n-label="@@user.password.label" label="Password" />
    <app-input-row [group]="editForm" field="role" rowType="radio" [options]="{'ADMIN': 'ADMIN', 'USER': 'USER'}" i18n-label="@@user.role.label" label="Role" />
    <app-input-row [group]="editForm" field="status" rowType="radio" [options]="{'ACTIVE': 'ACTIVE', 'DISABLED': 'DISABLED'}" i18n-label="@@user.status.label" label="Status" />
    <app-input-row [group]="editForm" field="firstname" i18n-label="@@user.firstname.label" label="Firstname" />
    <app-input-row [group]="editForm" field="lastname" i18n-label="@@user.lastname.label" label="Lastname" />
    <app-input-row [group]="editForm" field="specialization" i18n-label="@@user.specialization.label" label="Specialization" />
    <input type="submit" i18n-value="@@user.edit.headline" value="Edit User" class="btn btn-primary mt-4" />
</form>
